<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/main.ejs') %>

        <div class="max-h-screen/mhf sm:max-h-screen/hf h-screen/mhf sm:h-screen/hf flex flex-col justify-center items-center">
            <div class="work-sans w-full flex flex-col items-center">
                <img class="w-1/3" src="/images/errors/lostpassword.svg" />
                <form id="mailForm" action="#" method="POST" onsubmit="resetPwd(); return false" class="flex flex-col items-center gap-8 p-8">
                    <div
                        class="work-sans text-xl text-gray-700 dark:text-slate-500 hover:text-black dark:hover:text-slate-100 focus-within:text-black dark:focus-within:text-slate-100 flex flex-col text-center items-center w-full sm:w-auto">
                        <div id="error" class="hidden work-sans text-xl text-center text-red-600 cursor-default pb-2" ></div>
                        <label for="email" class="transition duration-200">Enter your E-mail</label>
                        <input type="email" name="email" id="email" placeholder="someone@example.com" autocomplete="email" required
                            class="transition duration-200 border dark:border-slate-700 focus:transition-none focus:border-orange-400 dark:focus:border-orange-400 focus:ring focus:outline outline-orange-400 hover:text-black dark:hover:text-slate-100 dark:placeholder:text-slate-700 bg-slate-100 dark:bg-zinc-900 rounded-xl text-center w-full sm:w-auto" />
                    </div>

                    <button onclick="resetPwd(); return false"
                        class="transition duration-200 work-sans text-xl text-gray-700 dark:text-orange-500 hover:text-slate-100 border-orange-500 hover:bg-orange-400 bg-slate-100 dark:bg-transparent dark:hover:bg-orange-400 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-2 px-8 w-full sm:w-auto">
                        Reset Password
                    </button>
                </form>
            </div>

            <div id="confirmation" class="work-sans hidden">
                <p class="sm:text-4xl font-bold text-gray-700 dark:text-slate-500 text-center pt-4">You can now reset your password by clicking on the link sent to your e-mail. &#128537;</p>
                <div id="confirmStatus" class="hidden work-sans text-xl text-center text-green-600 cursor-default pb-2" ></div>
                <div class="flex flex-col sm:flex-row sm:justify-evenly text-center my-8 gap-8">
                                        <button onclick="reSendPwdEmail()"
                        class="transition duration-200 work-sans sm:text-4xl text-gray-700 dark:text-cyan-500 hover:text-slate-100 border-cyan-500 hover:bg-cyan-400 bg-slate-100 dark:bg-transparent dark:hover:bg-cyan-400 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-2 px-8 w-full sm:w-auto">
                        Send E-mail Again
                    </button>
                    <a href="/contact"
                        class="transition duration-200 work-sans sm:text-4xl text-gray-700 dark:text-red-500 hover:text-slate-100 border-red-500 hover:bg-red-400 bg-slate-100 dark:bg-transparent dark:hover:bg-red-400 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-2 px-8 w-full sm:w-auto">
                        Ask for Help
                    </a>
                </div>
            </div>
        <div>   
        </main>
        <script src="/js/lostPwd.js"></script>

        <%- include('../includes/footer.ejs') %>