<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/main.ejs') %>

        <div class="max-h-screen/mhf sm:max-h-screen/hf h-screen/mhf sm:h-screen/hf work-sans flex flex-col justify-center items-center">
            <img class="w-1/2" src="/images/errors/unlockpassword.png" />
            <form action="#" method="POST" onsubmit="newPwd(); return false" class="flex flex-col items-center gap-8 p-8">
                <div
                    class="work-sans text-xl text-gray-700 dark:text-slate-500 hover:text-black dark:hover:text-slate-100 focus-within:text-black dark:focus-within:text-slate-100 flex flex-col text-center items-center w-full sm:w-auto">
                    <div id="error" class="hidden work-sans text-xl text-center text-red-600 cursor-default pb-2" ></div>
                    <label for="password" class="transition duration-200">Enter New Password</label>
                    <input type="password" name="password" id="password" placeholder="Secure Password" autocomplete="new-password" required
                        class="transition duration-200 border dark:border-slate-700 focus:transition-none focus:border-red-500 dark:focus:border-red-500 focus:ring focus:outline outline-red-500 hover:text-black dark:hover:text-slate-100 dark:placeholder:text-slate-700 bg-slate-100 dark:bg-zinc-900 rounded-xl text-center w-full sm:w-auto" />
                </div>
                <input type="hidden" name="token" id="token" value="<%= pwdToken %>" required />

                <button onclick="newPwd(); return false"
                    class="transition duration-200 work-sans text-xl text-gray-700 dark:text-red-500 hover:text-slate-100 border-red-500 hover:bg-red-400 dark:bg-transparent bg-slate-100 dark:hover:bg-red-400 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-2 px-8 w-full sm:w-auto">
                    Set New Password
                </button>
            </form>
        </div>

        </main>
        <script src="/js/resetPwd.js"></script>

        <%- include('../includes/footer.ejs') %>