<select required onchange="setEffectSelect(this)" name="effects" id="effects"
    class="cursor-context-menu text-center rounded-xl transition duration-200 group-hover:bg-sky-500 bg-slate-100 dark:bg-transparent">

    <option selected disabled value="" class="text-gray-400 bg-slate-100 dark:bg-zinc-900">
        Choose an effect</option>

    <option disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        Stickers</option>
    <option value="/images/effects/sticker/42.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        42</option>
    <option value="/images/effects/sticker/heart.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Heart</option>
    <option value="/images/effects/sticker/approved.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Approved</option>
    <option value="/images/effects/sticker/fragile.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Fragile</option>
    <option value="/images/effects/sticker/classified.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Classified</option>
    <option value="/images/effects/sticker/adhesive.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Adhesive</option>
    <option value="/images/effects/sticker/scared.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Scared</option>
    <option value="/images/effects/sticker/troll.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Trollface</option>
    <option value="/images/effects/sticker/risitas.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Risitas</option>
    <option value="/images/effects/sticker/ronaldo.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        CR7</option>
    <option value="/images/effects/sticker/cat.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Flying Cat</option>

    <option disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        Masks</option>
    <option value="/images/effects/mask/sunglasses.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Sunglasses</option>
    <option value="/images/effects/mask/venezia.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Venezia</option>
    <option value="/images/effects/mask/knight.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Knight</option>
    <option value="/images/effects/mask/darthvader.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Darth Vader</option>
    <option value="/images/effects/mask/anonym.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Anonymous</option>
    <option value="/images/effects/mask/joker.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Joker</option>
    <option value="/images/effects/mask/batman.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Batman</option>
    <option value="/images/effects/mask/gas.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Gas</option>
    <option value="/images/effects/mask/n95.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        N95</option>
    <option value="/images/effects/mask/thug.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Thug Life</option>

</select>