<select required onchange="setExtraSelect(this)" name="extraEffects" id="extraEffects"
    class="cursor-context-menu text-center rounded-xl transition duration-200 group-hover:bg-sky-500 bg-slate-100 dark:bg-transparent">

    <option selected disabled value="" class="text-gray-400 bg-slate-100 dark:bg-zinc-900">
        Choose an extra</option>

    <option disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        Frames</option>
    <option value="/images/effects/frame/vintage-wood.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Vintage Wood</option>
    <option value="/images/effects/frame/vintage-gold.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Vintage Gold</option>
    <option value="/images/effects/frame/flower.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Flower</option>
    <option value="/images/effects/frame/pastel.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Pastel</option>
    <option value="/images/effects/frame/dirty.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Dirty</option>
    <option value="/images/effects/frame/slasher.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Slasher</option>
    <option value="/images/effects/frame/bloody.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Bloody</option>
    <option value="/images/effects/frame/crack.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Cracked</option>
    <option value="/images/effects/frame/neon.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Neon</option>
    <option value="/images/effects/frame/fire.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Fire</option>
    <option value="/images/effects/frame/flower-fire.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Burning Flower</option>

    <option disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        Fronts</option>
    <option value="/images/effects/front/broken.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Broken</option>
    <option value="/images/effects/front/jail.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Jail</option>
    <option value="/images/effects/front/wasted.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Wasted</option>

    <option disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        HUDs</option>
    <option value="/images/effects/hud/gta-sa.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        GTA San Andreas</option>
    <option value="/images/effects/hud/gta-5.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        GTA V</option>
    <option value="/images/effects/hud/lol.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        League Of Legends</option>
    <option value="/images/effects/hud/minecraft.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Minecraft</option>
    <option value="/images/effects/hud/doom.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Doom</option>
    <option value="/images/effects/hud/metroid.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Metroid</option>
    <option value="/images/effects/hud/halo.png"
        class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Halo</option>

</select>