    </body>
    <footer class="work-sans z-50 h-12 sm:h-8 flex items-center justify-center flex-col sm:flex-row text-gray-700 dark:text-slate-600 bg-slate-100 dark:bg-zinc-900 cursor-default">
        <p>Copyright © 2022 <a href="/contact" class="cursor-pointer">Fdagbert</a></p>
        <p class="px-1 hidden sm:flex"> - </p>
        <p class="hidden sm:flex">All Rights Reserved</p>
        <p class="px-1 hidden md:flex"> - </p>
        <p class="hidden md:flex">Designed with &#128170; and &#128567; !</p>
    </footer>
</html>