<select required onchange="setSpecialSelect(this)" name="jimpEffects" id="jimpEffects"
    class="cursor-context-menu text-center rounded-xl transition duration-200 group-hover:bg-sky-500 bg-slate-100 dark:bg-transparent">

    <option selected disabled value="" class="text-black bg-slate-100 dark:bg-zinc-900">
        Choose a special effect</option>
    <option value="3" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Blur</option>
    <option value="4" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Greyscale</option>
    <option value="5" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Sepia</option>
    <option value="6" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Invert</option>
    <option value="7" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Posterize</option>
    <option value="8" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Pixelate</option>
    <option value="9" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Fish Eye</option>
    <option value="10" class="text-gray-600 hover:text-slate-100 bg-slate-100 hover:bg-slate-700 dark:bg-zinc-900">
        Circle</option>
</select>