<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/main.ejs') %>

        <div class="work-sans flex flex-col items-center">
            <img class="sm:w-1/3 rounded-xl" src="/images/errors/403.png" />
            <h1 class="pt-8 sm:text-5xl font-bold text-gray-700 dark:text-slate-100 text-center">Sorry !</h1>
            <h2 class="sm:text-5xl font-bold text-gray-700 dark:text-slate-100 text-center pt-4">This request permission is restricted. &#129296;</h2>
        </div>
        </main>

        <%- include('../includes/footer.ejs') %>