<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/main.ejs') %>

        <div class="work-sans flex flex-col items-center">
            <img class="w-1/2 sm:w-1/4 rounded-xl" src="/images/errors/500.png" />
            <h1 class="pt-4 sm:text-5xl font-bold text-gray-700 dark:text-slate-100 text-center">Sorry !</h1>
            <h2 class="pt-4 sm:text-5xl font-bold text-gray-700 dark:text-slate-100 text-center">There is a bug from the server. &#129300;</h2>
            <h2 class="pt-4 sm:text-5xl font-bold text-gray-700 dark:text-slate-100 text-center">Please, contact the administrator.</h2>
            <a href="/contact"
                class="transition duration-200 work-sans sm:text-4xl text-gray-700 hover:text-slate-100 dark:text-cyan-600 text-center border-cyan-600 bg-slate-100 hover:bg-cyan-500 dark:bg-transparent dark:hover:bg-cyan-500 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-2 px-8 my-8 w-full sm:w-auto">
                Contact
            </a>
        </div>
        </main>

        <%- include('../includes/footer.ejs') %>